.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}