amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
fastapi==0.109.0
greenlet==3.0.3
h11==0.14.0
idna==3.6
joblib==1.3.2
kombu==5.3.5
numpy==1.26.3
pandas==2.2.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
pyTelegramBotAPI==4.15.2
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
scikit-learn==1.2.2
scipy==1.12.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
starlette==0.35.1
telebot==0.0.5
threadpoolctl==3.2.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.26.0
vine==5.1.0
wcwidth==0.2.13
xgboost==2.0.2
